/* Card Form */
.cardFull {
    box-shadow: 10px 18px 64px 0px rgba(0,0,0,0.75);
    max-width: 700px;
    border-radius: 20px;

    display: flex;
    margin: auto;
    margin-top: 70px;
}

.formCreate {
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    border-radius: 10px;
}

.divCampo {
    flex: 1 0 240px;
    height: 80px;
    margin: 10px;
}
/* Input del Correo */
.divCampo {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 7px;
    padding: 7px;
}
.divCampo i {
    display: inline;
    color: #999;
    margin-right: 5px;
    vertical-align: middle;
}
.divCampo input {
    display: inline;
    text-align: center;
    border: none;
    outline: none;
    width: 90%;
    font-size: 19px;
    vertical-align: middle;
}

.submit {
    cursor: pointer;
    border-radius: 20px;
    background-color: greenyellow;
}

/* .formCreate {
    margin-top: 2%;
    background-color: #b92829;
    max-width: 100%;
    padding: 30px;
    border-radius: 15px;
}

.formCreate label {
    color: #fff;
    font-size: 19px;
    font: sans-serif;
    letter-spacing: 1px;
    width: 100%;
    max-width: 100%;
    margin: 4px;
}

.formCreate input{
    width: 50%;
    padding: 8px;
    margin-top: 9px;
    border-radius: 5px;
    border: none;
    font-family: sans-serif;
    font-size: 20px;
}
.divCampo {
    height: 80px;
    margin-bottom: 10px;
}
::placeholder {
    opacity: 0.6;
} */

.alerta{
    color: red;
    max-width: 100%;
    font: 16px sans-serif;
    border-radius: 5px;
    padding: 2px;
}
/* .btnAgregar {
    border: none;
    border-radius: 15px;
    width: 50%;
    padding: 10px;
    margin-top: 30px;
    font-size: 17px;
    font-family: sans-serif;
    letter-spacing: 2px;
    background-color: #2d362c;
    color: #fff;
    cursor: pointer;
}
.btnAgregar:hover{
    background-color: #aaa;
    color: #2d362c;
    border: none;
} */