/* Card Form */
.cardFull {
    box-shadow: 10px 18px 64px 0px rgba(0,0,0,0.75);
    max-width: 700px;
    border-radius: 20px;

    display: flex;
    margin: auto;
    margin-top: 70px;
}

.formCreate {
    display: flex;
    padding: 21px;
    flex-wrap: wrap;
    border-radius: 10px;
}


/* Input del Correo */
.divCampo {
    flex: 1 0 240px;
    height: 80px;
    margin: 10px;

    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 7px;
    padding: 7px;
}
.divCampo i {
    display: inline;
    color: #999;
    margin-right: 5px;
    vertical-align: middle;
}
.divCampo label {
    font-family: sans-serif;
    font-size: 17px;
}
.divCampo input {
    display: inline;
    text-align: center;
    border: none;
    outline: none;
    width: 100%;
    margin-top: 15px;
    font-size: 19px;
    vertical-align: middle;
}

button[type = submit] {
    width: 100%;
    cursor: pointer;
    padding: 14px;
    margin-top: 25px;
    border-radius: 21px;
    font-family: sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    background-color: rgb(43, 182, 64);
    border: none;
}
button[type = submit]:hover {
    background-color: green;
    color: aliceblue;
}

.alerta{
    color: red;
    max-width: 100%;
    font: 16px sans-serif;
    border-radius: 5px;
    padding: 2px;
}

textarea {
    resize: none;
    border: none;
    width: 98%;
    height: 55px;
    font-family: sans-serif;
    font-size: 15px;
}