<!-- Form -->
<div class="cardFull animate__animated animate__bounceIn">

    <form class="formCreate" [formGroup]="formularioCreate" (ngSubmit)="guardar()" autocomplete="off">
        <!-- DIV imagen -->
        <div class="divCampo">
            <label>
                <i class="fa-solid fa-image"></i>
                Imagen del Trabajo: 
            </label>
            <input
                type="file"
                accept="image/jpeg, image/png"
                formControlName="image"
                (change)="validarImagen($event)"
                placeholder="Selecciona una imagen"
            >
            <br>
            <span class="alerta" *ngIf="ValidarCampo('image')">
                *Debe subir una imagen
            </span>
        </div>

        <!-- DIV folio -->
        <div class="divCampo">
            <label>
                <i class="fa-solid fa-hashtag"></i>
                Generar Folio:
            </label>

            <input
                type="number"
                value="{{folioGenerado}}"
                formControlName="folio"
                placeholder="Genera un folio"
                readonly
            >

            <button type="button" (click)="generarFolio()">
                Generar
            </button>
            <br>
            <span class="alerta" *ngIf="ValidarCampo('folio')">
                *Este campo es obligatorio
            </span>
        </div>

        <!-- DIV nombre -->
        <div class="divCampo">
            <label>
                <i class="fa-solid fa-user"></i>
                Nombre del Cliente: 
            </label>
            <input type="text" formControlName="nombre" placeholder="Ingrese el nombre">
            <br>
            <span class="alerta" *ngIf="ValidarCampo('nombre')">
                *Este Campo es Obligatorio
            </span>
        </div>

        <!-- DIV descripcion -->
        <div class="divCampo">
            <label>
                <i class="fa-solid fa-comment-dots"></i>
                Descripcion del trabajo:
            </label>
            <textarea
                formControlName="descripcion"
                placeholder="Ingrese la descripcion" 
                rows="" cols=""
            ></textarea>

            <br>
            <span class="alerta" *ngIf="ValidarCampo('descripcion')">
                *Este campo es obligatorio
            </span>
        </div>

        <!-- DIV fecha -->
        <div class="divCampo">
            <label>
                <i class="fa-solid fa-calendar-days"></i>
                Fecha de Finalizacion: 
            </label>

            <input
                type="date"
                formControlName="fecha"
                placeholder="Ingrese la fecha"
                min=""
                max="today"
            >
            <br>
            <span class="alerta" *ngIf="ValidarCampo('fecha')">
                *Este Campo es Obligatorio
            </span>
        </div>

        <!-- DIV factura -->
        <div class="divCampo">
            <label>
                <i class="fa-solid fa-file-pdf"></i>
                Factura: 
            </label>
            <input
                type="file"
                accept="application/pdf"
                formControlName="factura"
                (change)="validarFactura($event)"
                placeholder="Ingrese el Salario"
            >
            <br>
            <span class="alerta" *ngIf="ValidarCampo('factura')">
                *Debe subir una Factura .PDF
            </span>
        </div>

        <button  type="submit">
            Agregar <i class="fa-solid fa-floppy-disk"></i>
        </button>
    </form>
</div>