<form [formGroup]="formularioLogin" (ngSubmit)="Login()">
    
    <h1>
        ╰⁔╯ 𝔖𝔥𝔬𝔤𝔲𝔫 ╰⁔╯
    </h1>

    <input
        class="InputCorreo"
        type="email"
        formControlName="email"
        placeholder="Ingrese Su Email"
    >

    <input
        class="InputPassword"
        type="password"
        formControlName="password"
        placeholder="Ingrese Su Contraseña"
    >

    <button class="BotonIniciarSesion" type="submit">
        Iniciar Sesion
    </button>
    <!-- [disabled]="miFormularioLogin.invalid" -->

    <div class="Signin">
        <span>
            ¿No tiene Una Cuenta?. <a routerLink="/auth/signin"> Registrese </a>
        </span>
    </div>
</form>