<form class="animate__animated animate__fadeIn" [formGroup]="formularioLogin" (ngSubmit)="Login()">
    
    <h1>
        ╰⁔╯   Ｓｈｏｇｕｎ   ╰⁔╯
    </h1>

    <!-- Input Correo -->
    <div class="divCorreo">
        <i class="fa-solid fa-envelope fa-xl"></i>
        <input
            type="email"
            formControlName="email"
            placeholder="Ingrese Su Email"
        >
    </div>
    <span class="alerta" *ngIf="ValidarCampo('email')">
        *Ingrese Un Correo Valido
    </span>

    <!-- Input Contraseña -->
    <div class="divPassword">
        <i class="fa-solid fa-key fa-xl"></i>
        <input
            type="password"
            formControlName="password"
            placeholder="Ingrese Su Contraseña"
        >
    </div>
    <span class="alerta" *ngIf="ValidarCampo('password')">
        *Ingrese Una Contraseña Valida
    </span>

    <!-- Boton Login -->
    <button class="BotonIniciarSesion" type="submit">
        Iniciar Sesion
        <i class="fa-solid fa-person-walking-arrow-right"></i>
    </button>

    <div class="Signin">
        <span>
            ¿No tiene Una Cuenta?. <a routerLink="/auth/signin"> Registrese </a>
        </span>
    </div>
</form>