/* Titulo del form */
h1{
    font-size: 2rem;
    text-align: center;
    padding-bottom: 25px;
}

/* Input del Correo */
.InputCorreo{
    font-family: sans-serif;
    padding: 5px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    font-size: 140%;
    margin-top: 10px;
    margin-bottom: 28px;
}

/* Input de la Contraseña */
.InputPassword{
    font-family: sans-serif;
    padding: 5px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    font-size: 140%;
    margin-top: 10px;
    margin-bottom: 28px;
}
::placeholder{
    opacity: 0.6;
}

/* Boton para registrarse */
.BotonIniciarSesion{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 15px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(106, 119, 160);
    margin-top: 30px;
    margin-bottom: 6%;
    cursor: pointer;
    
}
.BotonIniciarSesion:hover{
    background-color: rgb(30, 39, 141);
}
.BotonIniciarSesion:active{
    background-color: aliceblue;
    color: black;
}

/* Link para ir al SignIn */
.Signin{
    padding-top: 13px;
    font-family: sans-serif;
    text-align: center;
}