/* Titulo del form */
h1{
    font-size: 2rem;
    text-align: center;
    padding-bottom: 25px;
}

/* Input del Correo */
.divCorreo {
    background-color: #fbfbff;
    border: 2px solid #ccc;
    border-radius: 7px;
    padding: 7px;
    margin-top: 50px;
}
.divCorreo i {
    display: inline;
    margin-right: 5px;
    vertical-align: middle;
}
.divCorreo input {
    display: inline;
    text-align: center;
    border: none;
    outline: none;
    background: none;
    width: 90%;
    font-size: 19px;
    vertical-align: middle;
}

/* Input de la Contraseña */
.divPassword {
    background-color: #fbfbff;
    border: 2px solid #ccc;
    border-radius: 7px;
    padding: 7px;
    margin-top: 50px;
}
.divPassword i {
    display: inline;
    margin-right: 5px;
    vertical-align: middle;
}
.divPassword input {
    display: inline;
    text-align: center;
    border: none;
    background: none;
    outline: none;
    width: 90%;
    font-size: 19px;
    vertical-align: middle;
}
::placeholder{
    opacity: 0.6;
}

/* Boton para registrarse */
.BotonIniciarSesion{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 15px;
    border: none;
    color: #fbfbff;
    background-color: #112f41;
    margin-top: 55px;
    margin-bottom: 6%;
    cursor: pointer;
}
.BotonIniciarSesion:hover{
    background-color: rgb(30, 39, 141);
}
.BotonIniciarSesion:active{
    background-color: #fbfbff;
    color: black;
}

/* Link para ir al SignIn */
.Signin{
    padding-top: 13px;
    font-family: sans-serif;
    text-align: center;
}

/* Span de alerta cuando hay un campo invalido */
.alerta{
    color: red;
    font-size: 17px;
    font-family: sans-serif;
}