<div class="bgModal animate__animated animate__fadeIn">
    <div class="modalContent animate__animated animate__fadeInUp animate__faster">        
        <form class="formUpdate" [formGroup]="formularioUpdate" (ngSubmit)="ActualizarRegistro(registro._id)">
<!-- 
            <span class="regCreated">Registro creado por: Jonathan Alexis Guerrero</span> -->

            <div class="portada">
                <img src="{{registro.image.secure_url}}" alt="">
                
                <div class="span1">
                    <h3>Registro Creado el:</h3>
                    <span>{{registro.createdAt | date}}</span>
                    <h3>Registro ultima vez Actualizado el:</h3>
                    <span>{{registro.updatedAt | date}}</span>
                    <br>
                    <br>
                    <br>
                    <span class="verfactura">
                        <i class="fa-solid fa-file-pdf"></i>
                        <strong> Para ver la factura: </strong>
                        <a target="_blank" href="{{registro.factura.secure_url}}">Clic Aqui</a>
                    </span>
                </div>
            </div>
            
            <!-- DIV folio -->
            <div class="divCampo">
                <label>
                    <i class="fa-solid fa-hashtag"></i>
                    Folio:
                </label>

                <input
                    type="number"
                    value="{{registro.folio}}"
                    placeholder="Genera un folio"
                    readonly
                >
            </div>


            <!-- DIV nombre -->
            <div class="divCampo">
                <label>
                    <i class="fa-solid fa-user"></i>
                    Nombre del Cliente: 
                </label>
                <input
                    type="text"
                    formControlName="nombre"
                    placeholder="Ingrese el nombre"
                >
                <br>
                <span class="alerta" *ngIf="ValidarCampo('nombre')">
                    *Este Campo es Obligatorio
                </span>
            </div>

            <!-- DIV descripcion -->
            <div class="divCampo">
                <label>
                    <i class="fa-solid fa-comment-dots"></i>
                    Descripcion del trabajo:
                </label>
                <textarea
                    formControlName="descripcion"
                    placeholder="Ingrese la descripcion" 
                    rows="" cols=""
                ></textarea>
    
                <br>
                <span class="alerta" *ngIf="ValidarCampo('descripcion')">
                    *Este campo es obligatorio
                </span>
            </div>

            <!-- DIV fecha -->
            <div class="divCampo">
                <label>
                    <i class="fa-solid fa-calendar-days"></i>
                    Fecha de Finalizacion: 
                </label>

                <input
                    type="date"
                    formControlName="fecha"
                    placeholder="Ingrese la fecha"
                >
                <br>
                <span class="alerta" *ngIf="ValidarCampo('fecha')">
                    *Este Campo es Obligatorio
                </span>
            </div>

            <!-- DIV imagen -->
            <div class="divCampo">
                <label>
                    <i class="fa-solid fa-image"></i>
                    Cambiar la Imagen(Opcional): 
                </label>
                <input
                    type="file"
                    accept="image/jpeg, image/png"
                    formControlName="image"
                    (change)="validarImagen($event)"
                    placeholder="Selecciona una imagen"
                >
                <br>
                <span class="alerta" *ngIf="ValidarCampo('image')">
                    *Debe subir una imagen
                </span>
            </div>

            <!-- DIV factura -->
            <div class="divCampo">
                <label>
                    <i class="fa-solid fa-file-pdf"></i>
                    Cambiar la Factura(Opcional): 
                </label>
                <input
                    type="file"
                    accept="application/pdf, application/msword"
                    formControlName="factura"
                    (change)="validarFactura($event)"
                    placeholder="Ingrese el Salario"
                >
                <br>
                <span class="alerta" *ngIf="ValidarCampo('factura')">
                    *Debe subir una Factura .PDF o .Doc
                </span>
            </div>


            <button type="button" (click)="eliminarRegistro(registro._id)" >
                ELIMINAR <i class="fa-solid fa-trash-can"></i>
            </button>
            <button  type="submit">
                Actualizar <i class="fa-solid fa-floppy-disk"></i>
            </button>
        </form>

        <button class="btnCerrar" (click)="cerrarModal()">
            C            
            E
            R
            R
            A
            R
        </button>
        
    </div>
</div>