<nav>
    <div class="nav-left">
        <button type="button" routerLink="/dashboard/galery">
            <!-- <i class="fa-solid fa-image"></i> -->
            Galeria
        </button>
        
        <button type="button" routerLink="/dashboard/form">
            <!-- <i class="fa-solid fa-circle-plus"></i> -->
            Agregar un Nuevo Registro
        </button>
    </div>

    <div class="nav-right">
        <span>
            {{usuario.nombre | titlecase}}
        </span>
        <button type="button" (click)="LogOut()">
            Cerrar Sesion
        </button>
    </div>
</nav>