<nav>
    <div class="nav-left">
        <button type="button" routerLink="/dashboard/galery">
            Galeria
        </button>
        
        <button type="button" routerLink="/dashboard/form">
            Agregar un nuevo Registro
        </button>
    </div>

    <div class="nav-right">
        <span>
            {{usuario.nombre | titlecase}}, {{usuario.apellido | titlecase}} 
        </span>
        <button type="button" (click)="LogOut()">
            Cerrar Sesion
        </button>
    </div>
</nav>