<form class="animate__animated animate__fadeIn" [formGroup]="formularioSignin" (ngSubmit)="SignIn()">

    <h2>Formulario de Registro</h2>

    <!-- Input Nombre -->
    <div class="divNombre">
        <i class="fa-solid fa-user fa-xl"></i>
        <input
            type="text"
            formControlName="nombre"
            placeholder="Ingrese su Nombre(s)"
        >
    </div>
    <span class="alerta" *ngIf="ValidarCampo('nombre')">
        *Ingrese un Nombre Valido
    </span>

    <!-- Input Apellido -->
    <div class="divApellido">
        <i class="fa-solid fa-people-roof fa-xl"></i>
        <input
            type="text"
            formControlName="apellido"
            placeholder="Ingrese su Apellido(s)"
        >
    </div>
    <span class="alerta" *ngIf="ValidarCampo('apellido')">
        *Ingrese un Apellido Valido
    </span>

    <!-- Input Correo -->
    <div class="divCorreo">
        <i class="fa-solid fa-at fa-xl"></i>
        <input
            type="email"
            formControlName="email"
            placeholder="Ingrese su Email"
        >
    </div>
    <span class="alerta" *ngIf="ValidarCampo('email')">
        *Ingrese un Correo Valido
    </span>

    <!-- Input Contraseña -->
    <div class="divPassword">
        <i class="fa-solid fa-key fa-xl"></i>
        <input
            type="password"
            formControlName="password"
            placeholder="Ingrese su Contraseña"
        >
    </div>
    <span class="alerta" *ngIf="ValidarCampo('password')">
        *Ingrese Minimo 8 caracteres
    </span>

    <!-- Boton registrarse -->
    <button class="BotonRegistrarse" type="submit">
        <i class="fa-solid fa-clipboard-check"></i>
        Registrarse
    </button>
    
    <div class="Login">
        <span>
            ¿Ya Tiene Una Cuenta?. <a routerLink="/auth/login"> Inicie Sesion </a>
        </span>
    </div>
</form>