/* Titulo del form */
h2{
    font-family: sans-serif;
    text-align: center;
    padding-bottom: 15px;
}

/* Input Nombre */
.divNombre {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 7px;
    padding: 7px;
    margin-top: 40px;
}
.divNombre i {
    display: inline;
    color: #999;
    margin-right: 5px;
    vertical-align: middle;
}
.divNombre input {
    display: inline;
    text-align: center;
    border: none;
    outline: none;
    width: 90%;
    font-size: 19px;
    vertical-align: middle;
}

/* Input Apellido */
.divApellido {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 7px;
    padding: 7px;
    margin-top: 40px;
}
.divApellido i {
    display: inline;
    color: #999;
    margin-right: 5px;
    vertical-align: middle;
}
.divApellido input {
    display: inline;
    text-align: center;
    border: none;
    outline: none;
    width: 90%;
    font-size: 19px;
    vertical-align: middle;
}

/* Input Correo */
.divCorreo {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 7px;
    padding: 7px;
    margin-top: 40px;
}
.divCorreo i {
    display: inline;
    color: #999;
    margin-right: 5px;
    vertical-align: middle;
}
.divCorreo input {
    display: inline;
    text-align: center;
    border: none;
    outline: none;
    width: 90%;
    font-size: 19px;
    vertical-align: middle;
}

/* Input de la Contraseña */
.divPassword {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 7px;
    padding: 7px;
    margin-top: 40px;
}
.divPassword i {
    display: inline;
    color: #999;
    margin-right: 5px;
    vertical-align: middle;
}
.divPassword input {
    display: inline;
    text-align: center;
    border: none;
    outline: none;
    width: 90%;
    font-size: 19px;
    vertical-align: middle;
}
::placeholder{
    opacity: 0.6;
}

/* Boton para Registrarse */
.BotonRegistrarse{
    font-family: sans-serif;
    width: 100%;
    padding: 10px;
    font-size: 24px;
    letter-spacing: 2px;
    border-radius: 15px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(106, 119, 160);
    margin-top: 50px;
    margin-bottom: 20px;
    cursor: pointer;
}
.BotonRegistrarse:hover{
    background-color: rgb(17, 9, 131);
}
.BotonRegistrarse:active{
    background-color: aliceblue;
    color: black;
}

/* Link para ir al login */
.Login{
    padding-top: 20px;
    font-family: sans-serif;
    text-align: center;
}

/* Span de alerta cuando hay un campo invalido */
.alerta{
    color: red;
    font-size: 17px;
    font-family: sans-serif;
}